.Navbar{
    display: flex;
    list-style: none;
    height:60px;
    background-color: rgb(19, 197, 19);
    padding-left: 40px;
}
.Navbar ul{
    list-style: none;
}
.Navbar li{
    margin: auto;
    margin-left: 0;
}
@media (max-width: 500px){
    .Navbar li{
        font-size: 12px;
    }
}