.descricao{
    text-align: center;
    font-size: 'Arrial-Narrow';
    width: 70%;
    margin: auto;
}

hr{
    width: 82%;
    margin: auto;
    font-weight: bolder;
    padding-bottom: 15px;
}

.descricao p{
    text-align: justify;
    font-size: 1.2em;
}

.valores{
    font-family: 'Arrial-Narrow';
    font-size: 1.3em;
    margin: 3% 15%;
    text-align: center;
    
}